---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = 'About';
const bio = await Astro.glob('../pages/about.md');
---
<BaseLayout pageTitle = {pageTitle}>
	{
		bio.map((m) => {
			return <div id="profile"><m.Content /></div>
		})
	}
</BaseLayout>

<style>
	#profile {
		margin: 1.5rem;
	}
</style>