---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Articles";
const posts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle = {pageTitle}>
    {
        posts.map((post) => {
            const pubDate = new Date(post.frontmatter.pubDate).toUTCString().slice(0,16);
            return (
                <div id="article-list">
                    <a href={post.url} id="article-title">{post.frontmatter.title}</a>
                    <span id="pub-date">{pubDate}</span>
                </div>
            )
        })
    }
</BaseLayout>

<style>
    #article-list {
        display: flex;
        flex-direction: column;
        margin: .2rem .3rem;
        padding: .3rem;
        border-bottom: 1px solid #ccc;
    }
    #article-title {
        font-weight: 600;
        color: #4165ba;
        text-decoration: none;
    }
    #pub-date {
        font-size: .8rem;
        font-weight: 500;
        color: #777;
    }
</style>