---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects";
---

<BaseLayout pageTitle = {pageTitle}>
    <h3>Nothing to show rn :(</h3>
</BaseLayout>

<style>
    h3 {
        margin: 50vh 0;
        text-align: center;
    }
</style>