---

---

<footer>Built with <a href="https://astro.build/" target="_blank">Astro 🚀</a></footer>

<style>
  footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 0.2rem 0;
    bottom: 0;
    color: #fff;
    background-color: #4165ba;
    text-align: center;
  }
  a {
    text-decoration: underline;
  }
  a:visited {
    color: #fff;
  }
  a:hover {
    cursor: pointer;
  }
</style>
