---

---
<div>
    <a href="/" id="blog-title" class="header-text">Aldy's Blog</a>
    <h3 class="header-text">Personal Thoughts and Interest</h3>
</div>

<style>
    div {
        justify-content: space-between;
        display: flex;
        background-color: #4165ba;
    }
    #blog-title:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .header-text {
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        font-size: 1rem;
        padding: 0.2rem;
        margin: 0.3rem 0.8rem;
        color: #fff;
    }
</style>