---

---
<div>
    <a href="/articles">Articles</a>
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
</div>

<style>
    div {
        background-color: #e1e7f5;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    a {
        font-size: 1rem;
        padding: 0.3rem 0;
        text-decoration: none;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #000;
    }
    a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width:900px) {
        a {
            font-size: 0.9rem;
        }
    }
</style>