<!DOCTYPE html>
<html>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{.Title}} - Aldy's Blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="style.css">
    <body>
        <dialog id="modal">
            <h3>MENU</h3>
            <div class="nav-list">
                <a href="/articles">Articles</a>
                <a href="/projects">Projects</a>
                <a href="/tracklist">Tracklist</a>
            </div>
            <button id="close-btn">Close</button>
        </dialog>
        <div id="container">
            <span id="floating-icon" class="material-symbols-outlined">
                menu_open
            </span>
            {{- partial "header.html" . -}}
            <div id="content">
               {{ range .Site.Data.tracklist.data }}
                    <iframe src="{{ . }}" allowtransparency="true" loading="lazy" referrerpolicy="Origin-when-cross-origin"></iframe>
               {{ end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>

<script>
    class get{
        static id(param) {
            return document.getElementById(param); 
        }
        static class(param) {
            return document.getElementsByClassName(param); 
        }
        static tagName(param) {
            return document.getElementsByTagName(param);
        }
    }
    
    const showModal = () => {
        modal.showModal();
        
    };

    const closeModal = () => {
        modal.close();
    }

    const floatingButton = get.id("floating-icon");
    const closeModalButton = get.id("close-btn");
    const modal = get.id('modal');

    floatingButton.addEventListener('click', e => showModal());
    closeModalButton.addEventListener('click', e => closeModal())
</script>
