---
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro'
import '../styles/global.css'

const { pageTitle } = Astro.props;  
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{ pageTitle  } - Aldy's Blog</title>
        <link rel="shortcut icon" href="../../public/aaaaaaaaaa.jpeg" type="image/x-icon">
    </head>
    <body>
        <header>
            <Header></Header>
        </header>
            <Navigation></Navigation>
        <main>
            <slot />
        </main>
        <Footer></Footer>
    </body>
</html>

<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>