---
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro'
import '../styles/global.css'
const {frontmatter } = Astro.props;  
const pubDate = new Date(frontmatter.pubDate).toUTCString().slice(0,16);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{ frontmatter.title }</title>
        <link rel="shortcut icon" href="../../aaaaaaaaaa.jpeg" type="image/x-icon">
    </head>
    <body>
        <header>
            <Header></Header>
        </header>
            <Navigation></Navigation>
        <main>
            <div id="content">
                <h3 id="post-title">{frontmatter.title}</h3>
                <p id="last-update-time">Last updated: {pubDate}</p>
                <p>{`${frontmatter.tags}`}</p>
                <slot />
            </div>
        </main>
        <Footer></Footer>
    </body>
</html>

<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .mdx-img {
        text-align: center;
        display: none;
        border: 5px solid red;
    }
    #content {
        margin: 0.8rem;
    }
    #last-update-time {
        color: #666;
        font-size: .8rem;
    }
    #post-title {
        margin: 0 0 -0.5rem 0 ;
    }
</style>